@import '../../../styles/settings.scss';

.dark {
  background-color: $dark;
  color: $light;
  border: none;
  padding: 10px;

  &:active {
    background-color: transparent;
    color: $dark;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.transparent {
  background-color: transparent;
  color: $dark;
  border: none;
  padding: 10px;

  &:active {
    color: transparent;
  }

  &:focus {
    border: none;
    outline: none;
  }
}
