@import '../../../styles/settings.scss';

.component {
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 0 0 60px 0;
  background-color: $main-1;

  .formLine {
    margin-bottom: 30px;
  }

  label {
    font-size: 20px;
    color: $light;
    background-color: $dark;
    padding: 5px;
  }

  input {
    margin-top: 10px;
    width: 100%;
    background-color: $light;
    color: $dark;
    font-size: 18px;
    padding: 5px;
  }

  .submit {
    @include flex (center, center);
  }

  .info {
    width: 100%;
    @include flex (center,center);
    flex-direction: column;

  }
}

