@import '../../../styles/settings.scss';

.component {
  width: 100%;
  min-height: calc(100vh - 160px);
  @include flex (center, center);
  flex-direction: column;

  h1 {
    margin: 0;
  }

  .add {
    margin-top: 20px;
  }

  .action {
    margin-top: 10px;
  }

  .title {
    @include flex (center, center);
  }
}
