$header-size: 20px;
$base-size: 14px;

$dark: #000;
$light: #fff;
$main-1: #00ffff;
$main-2: #ff00ff;
$main-3: #ffff00;

$font-header: 'Roboto', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}
