@import '../../../styles/settings.scss';

.component {
  background-color: $dark;
  min-height: 80px;
  margin: 0;
  color:$light;
  @include flex(center, center);

  a {
    color:$light;
    text-decoration: none;

    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: $main-3;
      text-decoration: none;
    }

    &:active{
      text-decoration: none;
    }
  }

  .logo {
    height: 100%;
    color: $light;
    @include flex (center, left);

    .name {
      font-family: $font-header;
      font-size: $header-size;
      text-transform: uppercase;
    }
  }
}
